@media (min-width: 1480px) {
  .container {
    max-width: 1430px;
  }
}

a:hover {
  text-decoration:none;
}
a {
  text-decoration:none!important;
}

.iconfont-lg{
  font-size: $font-size-large-navbar;
}

.main-container{
  min-height: 71vh;
}
